
<div style="font-family: OCR A Std, monospace; text-align: center; font-size: 500%;">
  DATAGEN
</div>
<div style="font-family: OCR A Std, monospace; text-align: center; ;">
  many bugs died making this application
</div>

<app-image-view style="display:flex; justify-content: center;"></app-image-view>

<div class="navbar">
  <img src="/assets/img/green_check.svg" (click)="acceptOnClick()" style="height: 20px; width: 20px; align-self: center; margin-right: 48px;">
  <img src="/assets/img/red_x.svg" (click)="rejectOnClick()" style="height: 20px; width: 20px; align-self: center;">
</div>